﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TestControl._Default" %>

<%@ Register Assembly="CustomControls" Namespace="CustomControls" TagPrefix="cc1" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <asp:UpdatePanel ID="UpdatePanelControl1" runat="server">
        <ContentTemplate>
            <cc1:THCustomCalendar ID="THCustomCalendar1" runat="server"  Text="ทดสอบ"  />
             <asp:Button runat="server" ID="Btn_PostBack" Text="ยืนยัน" OnClick="Btn_PostBack_Click" />
        </ContentTemplate>
    </asp:UpdatePanel>

    
</asp:Content>
